.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formContainer {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.addButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.label {
  font-size: 16px;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 50%;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.errorMessage {
  color: #d9534f;
  margin-top: 10px;
  font-size: 16px;
}

.formElement {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.formElementContainer {
  margin-top: 10px;
}

.labelInput {
  padding: 10px;
  border: 1px solid #ccc;
  width: 50%;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.optionsLabel {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.option {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.optionInput {
  padding: 10px;
  border: 1px solid #ccc;
  width: 50%;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.optionButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 2px;
  border-radius: 5px;
}


.saveBtn {
  margin-top: 20px;
  text-align: center;
}

.saveBtn button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.saveBtn button:hover, .optionButton:hover, .addButton:hover  {
  background-color: #0056b3;
}


.link {
  display: block;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.removeIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: red; 
}

